<h3> <%= "#{@cpu.name}" %> </h3>
<div class="part_list">
  <table class = "ptable">
    <tr>
      <td>Name:</td>
      <td> <%= "#{@cpu.name}" %></td>
    </tr>
    <tr>
      <td>Manufacturer:</td>
      <td> <%= "#{@cpu.manufacturer}" %></td>
    </tr>
    <tr>
      <td>Data Width:</td>
      <td> <%= "#{@cpu.data_width}" %></td>
    </tr>
    <tr>
      <td>Socket:</td>
      <td> <%= "#{@cpu.socket}" %></td>
    </tr>
    <tr>
      <td>Operating Frequency:</td>
      <td> <%= "#{@cpu.operating_frequency}" %></td>
    </tr>
    <tr>
      <td>Max Turbo Frequency:</td>
      <td> <%= "#{@cpu.max_turbo_frequency}" %></td>
    </tr>
    <tr>
      <td>Cores:</td>
      <td> <%= "#{@cpu.cores}" %></td>
    </tr>
    <tr>
      <td>Lighography:</td>
      <td> <%= "#{@cpu.lighography}" %></td>
    </tr>
    <tr>
      <td>Thermal Design Power:</td>
      <td> <%= "#{@cpu.thermal_design_power}" %></td>
    </tr>
    <tr>
      <td>Cooler:</td>
      <td> <%= "#{@cpu.cooler}" %></td>
    </tr>
    <tr>
      <td>Maximum Memory:</td>
      <td> <%= "#{@cpu.maximum_memory}" %></td>
    </tr>
    <tr>
      <td>Integrated Graphics:</td>
      <td> <%= "#{@cpu.integrated_graphics}" %></td>
    </tr>
  </table>
</div>