<h3> <%= "#{@cpu.name}" %> </h3>
<div class="part_list">
  <table class = "ptable">
    <tr>
      <td><%=t "show.manufacturer" %>:</td>
      <td> <%= "#{@cpu.manufacturer}" %></td>
    </tr>
    <tr>
      <td><%=t "show.data_width" %>:</td>
      <td> <%= "#{@cpu.data_width}" %></td>
    </tr>
    <tr>
      <td><%=t "show.socket" %>:</td>
      <td> <%= "#{@cpu.socket}" %></td>
    </tr>
    <tr>
      <td><%=t "show.operating_frequency" %>:</td>
      <td> <%= "#{@cpu.operating_frequency}" %></td>
    </tr>
    <tr>
      <td><%=t "show.max_turbo_frequency" %>:</td>
      <td> <%= "#{@cpu.max_turbo_frequency}" %></td>
    </tr>
    <tr>
      <td><%=t "show.cores" %>:</td>
      <td> <%= "#{@cpu.cores}" %></td>
    </tr>
    <tr>
      <td><%=t "show.lighography" %>:</td>
      <td> <%= "#{@cpu.lighography}" %></td>
    </tr>
    <tr>
      <td><%=t "show.thermal_design_power" %>:</td>
      <td> <%= "#{@cpu.thermal_design_power}" %></td>
    </tr>
    <tr>
      <td><%=t "show.cooler" %>:</td>
      <td> <%= "#{@cpu.cooler}" %></td>
    </tr>
    <tr>
      <td><%=t "show.maximum_memory" %>:</td>
      <td> <%= "#{@cpu.maximum_memory}" %></td>
    </tr>
    <tr>
      <td><%=t "show.integrated_graphics" %>:</td>
      <td> <%= "#{@cpu.integrated_graphics}" %></td>
    </tr>
  </table>
</div>
