<h3> <%= "#{@memory_card.name}" %> </h3>
<div class="part_list">
  <table class = "ptable">
    <tr>
      <td><%=t "show.manufacturer" %>:</td>
      <td> <%= "#{@memory_card.manufacturer}" %></td>
    </tr>
    <tr>
      <td><%=t "show.memory_type" %>:</td>
      <td> <%= "#{@memory_card.memory_type} pin" %></td>
    </tr>
    <tr>
      <td><%=t "show.speed" %>:</td>
      <td> <%= "#{@memory_card.speed}" %></td>
    </tr>
    <tr>
      <td><%=t "show.size" %>:</td>
      <td> <%= "#{@memory_card.size}" %></td>
    </tr>
    <tr>
      <td><%=t "show.cas_latency" %>:</td>
      <td> <%= "#{@memory_card.cas_latency}" %></td>
    </tr>
    <tr>
      <td><%=t "show.voltage" %>:</td>
      <td> <%= "#{@memory_card.voltage}" %></td>
    </tr>
    <tr>
      <td><%=t "show.ecc" %>:</td>
      <td> <%= "#{@memory_card.ecc}" %></td>
    </tr>
    <tr>
      <td><%=t "show.registered" %>:</td>
      <td> <%= "#{@memory_card.registered}" %></td>
    </tr>
  </table>
</div>
