<h3> <%= "#{@hard_drive.name}" %> </h3>
<div class="part_list">
  <table class = "ptable">
    <tr>
      <td><%=t "show.manufacturer" %>:</td>
      <td> <%= "#{@hard_drive.manufacturer}" %></td>
    </tr>
    <tr>
      <td><%=t "show.hdd_type" %>:</td>
      <td> <%= "#{@hard_drive.hdd_type}" %></td>
    </tr>
    <tr>
      <td><%=t "show.capacity" %>:</td>
      <td> <%= "#{@hard_drive.capacity}" %></td>
    </tr>
    <tr>
      <td><%=t "show.interface" %>:</td>
      <td> <%= "#{@hard_drive.interface}" %></td>
    </tr>
    <tr>
      <td><%=t "show.cache" %>:</td>
      <td> <%= "#{@hard_drive.cache}" %></td>
    </tr>
    <tr>
      <td><%=t "show.rpm" %>:</td>
      <td> <%= "#{@hard_drive.rpm}" %></td>
    </tr>
    <tr>
      <td><%=t "show.form_factor" %>:</td>
      <td> <%= "#{@hard_drive.form_factor}" %></td>
    </tr>
  </table>
</div>
