<h3> <%= "#{@hard_drive.name}" %> </h3>
<div class="part_list">
  <table class = "ptable">
    <tr>
      <td>Name:</td>
      <td> <%= "#{@hard_drive.name}" %></td>
    </tr>
    <tr>
      <td>Manufacturer:</td>
      <td> <%= "#{@hard_drive.manufacturer}" %></td>
    </tr>
    <tr>
      <td>Hdd Type:</td>
      <td> <%= "#{@hard_drive.hdd_type}" %></td>
    </tr>
    <tr>
      <td>Capacity:</td>
      <td> <%= "#{@hard_drive.capacity}" %></td>
    </tr>
    <tr>
      <td>Interface:</td>
      <td> <%= "#{@hard_drive.interface}" %></td>
    </tr>
    <tr>
      <td>Cache:</td>
      <td> <%= "#{@hard_drive.cache}" %></td>
    </tr>
    <tr>
      <td>RPM:</td>
      <td> <%= "#{@hard_drive.rpm}" %></td>
    </tr>
    <tr>
      <td>Form Factor:</td>
      <td> <%= "#{@hard_drive.form_factor}" %></td>
    </tr>
  </table>
</div>