<h3> <%= "#{@power_supply.name}" %> </h3>
<div class="part_list">
  <table class = "ptable">
    <tr>
      <td>Name:</td>
      <td> <%= "#{@power_supply.name}" %></td>
    </tr>
    <tr>
      <td>Manufacturer:</td>
      <td> <%= "#{@power_supply.manufacturer}" %></td>
    </tr>
    <tr>
      <td>Psu Type:</td>
      <td> <%= "#{@power_supply.psu_type}" %></td>
    </tr>
    <tr>
      <td>Wattage:</td>
      <td> <%= "#{@power_supply.wattage} Watts" %></td>
    </tr>
    <tr>
      <td>Modular:</td>
      <td> <%= "#{@power_supply.modular}" %></td>
    </tr>
    <tr>
      <td>Efficiency Certification:</td>
      <td> <%= "#{@power_supply.efficiency_certification}" %></td>
    </tr>
  </table>
</div>