<h3> <%= "#{@power_supply.name}" %> </h3>
<div class="part_list">
  <table class = "ptable">
    <tr>
      <td><%=t "show.manufacturer" %>:</td>
      <td> <%= "#{@power_supply.manufacturer}" %></td>
    </tr>
    <tr>
      <td><%=t "show.psu_type" %>:</td>
      <td> <%= "#{@power_supply.psu_type}" %></td>
    </tr>
    <tr>
      <td><%=t "show.wattage" %>:</td>
      <td> <%= "#{@power_supply.wattage} Watts" %></td>
    </tr>
    <tr>
      <td><%=t "show.modular" %>:</td>
      <td> <%= "#{@power_supply.modular}" %></td>
    </tr>
    <tr>
      <td><%=t "show.efficiency_certification" %>:</td>
      <td> <%= "#{@power_supply.efficiency_certification}" %></td>
    </tr>
  </table>
</div>
