<h3> <%= "#{@network_card.name}" %> </h3>
<div class="part_list">
  <table class = "ptable">
    <tr>
      <td>Name:</td>
      <td> <%= "#{@network_card.name}" %></td>
    </tr>
    <tr>
      <td>Manufacturer:</td>
      <td> <%= "#{@network_card.manufacturer}" %></td>
    </tr>
    <tr>
      <td>Interface:</td>
      <td> <%= "#{@network_card.interface}" %></td>
    </tr>
    <tr>
      <td>Protocols:</td>
      <td> <%= "#{@network_card.protocols}" %></td>
    </tr>
    <tr>
      <td>Security:</td>
      <td> <%= "#{@network_card.security}" %></td>
    </tr>
  </table>
</div>