<h3> <%= "#{@network_card.name}" %> </h3>
<div class="part_list">
  <table class = "ptable">
    <tr>
      <td><%=t "show.manufacturer" %>:</td>
      <td> <%= "#{@network_card.manufacturer}" %></td>
    </tr>
    <tr>
      <td><%=t "show.interface" %>:</td>
      <td> <%= "#{@network_card.interface}" %></td>
    </tr>
    <tr>
      <td><%=t "show.protocols" %>:</td>
      <td> <%= "#{@network_card.protocols}" %></td>
    </tr>
    <tr>
      <td><%=t "show.security" %>:</td>
      <td> <%= "#{@network_card.security}" %></td>
    </tr>
  </table>
</div>
