<h3> <%= "#{@video_card.name}" %> </h3>
<div class="part_list">
  <table class = "ptable">
    <tr>
      <td>Name:</td>
      <td> <%= "#{@video_card.name}" %></td>
    </tr>
    <tr>
      <td>Manufacturer:</td>
      <td> <%= "#{@video_card.manufacturer}" %></td>
    </tr>
    <tr>
      <td>Interface:</td>
      <td> <%= "#{@video_card.interface}" %></td>
    </tr>
    <tr>
      <td>Chipset:</td>
      <td> <%= "#{@video_card.chipset}" %></td>
    </tr>
    <tr>
      <td>Memory Size:</td>
      <td> <%= "#{@video_card.memory_size}" %></td>
    </tr>
    <tr>
      <td>Memory Type:</td>
      <td> <%= "#{@video_card.memory_type}" %></td>
    </tr>
    <tr>
      <td>Core Clock:</td>
      <td> <%= "#{@video_card.core_clock}" %></td>
    </tr>
    <tr>
      <td>Boost Clock:</td>
      <td> <%= "#{@video_card.boost_clock}" %></td>
    </tr>
    <tr>
      <td>Thermal Design Power:</td>
      <td> <%= "#{@video_card.thermal_design_power} Watts" %></td>
    </tr>
  </table>
</div>