<h3> <%= "#{@motherboard.name}" %> </h3>
<div class="part_list">
  <table class = "ptable">
    <tr>
      <td>Name:</td>
      <td> <%= "#{@motherboard.name}" %></td>
    </tr>
    <tr>
      <td>Manufacturer:</td>
      <td> <%= "#{@motherboard.manufacturer}" %></td>
    </tr>
    <tr>
      <td>Form Factor:</td>
      <td> <%= "#{@motherboard.form_factor}" %></td>
    </tr>
    <tr>
      <td>Socket:</td>
      <td> <%= "#{@motherboard.socket}" %></td>
    </tr>
    <tr>
      <td>Chipset:</td>
      <td> <%= "#{@motherboard.chipset}" %></td>
    </tr>
    <tr>
      <td>Memory Pin:</td>
      <td> <%= "#{@motherboard.memory_pin}" %></td>
    </tr>
    <tr>
      <td>Memory Slots:</td>
      <td> <%= "#{@motherboard.memory_slots}" %></td>
    </tr>
    <tr>
      <td>Memory Type:</td>
      <td> <%= "#{@motherboard.memory_type}" %></td>
    </tr>
    <tr>
      <td>Maximum Memory:</td>
      <td> <%= "#{@motherboard.maximum_memory}" %></td>
    </tr>
    <tr>
      <td>Raid Support:</td>
      <td> <%= "#{@motherboard.raid_support}" %></td>
    </tr>
  </table>
</div>