<h3> <%= "#{@motherboard.name}" %> </h3>
<div class="part_list">
  <table class = "ptable">
    <tr>
      <td><%=t "show.manufacturer" %>:</td>
      <td> <%= "#{@motherboard.manufacturer}" %></td>
    </tr>
    <tr>
      <td><%=t "show.form_factor" %>:</td>
      <td> <%= "#{@motherboard.form_factor}" %></td>
    </tr>
    <tr>
      <td><%=t "show.socket" %>:</td>
      <td> <%= "#{@motherboard.socket}" %></td>
    </tr>
    <tr>
      <td><%=t "show.chipset" %>:</td>
      <td> <%= "#{@motherboard.chipset}" %></td>
    </tr>
    <tr>
      <td><%=t "show.memory_pin" %>:</td>
      <td> <%= "#{@motherboard.memory_pin}" %></td>
    </tr>
    <tr>
      <td><%=t "show.memory_slots" %>:</td>
      <td> <%= "#{@motherboard.memory_slots}" %></td>
    </tr>
    <tr>
      <td><%=t "show..memory_type" %>:</td>
      <td> <%= "#{@motherboard.memory_type}" %></td>
    </tr>
    <tr>
      <td><%=t "show.maximum_memory" %>:</td>
      <td> <%= "#{@motherboard.maximum_memory}" %></td>
    </tr>
    <tr>
      <td><%=t "show.raid_support" %>:</td>
      <td> <%= "#{@motherboard.raid_support}" %></td>
    </tr>
  </table>
</div>
