<h3> <%= "#{@computer_case.name}" %> </h3>
<div class="part_list">
  <table class='ptable'>
    <tr>
      <td><%=t "show.manufacturer" %>:</td>
      <td> <%= "#{@computer_case.manufacturer}" %></td>
    </tr>
    <tr>
      <td><%=t "show.case_type" %>:</td>
      <td> <%= "#{@computer_case.case_type}" %></td>
    </tr>
    <tr>
      <td><%=t "show.power_supply" %>:</td>
      <td> <%= "#{@computer_case.power_supply}" %></td>
    </tr>
    <tr>
      <td><%=t "show.small_bay" %>:</td>
      <td> <%= "#{@computer_case.small_bay}" %></td>
    </tr>
    <tr>
      <td><%=t "show.larger_bay" %>:</td>
      <td> <%= "#{@computer_case.medium_bay}" %></td>
    </tr>
    <tr>
      <td><%=t "show.compatibility" %>:</td>
      <td> <%= "#{@computer_case.compatibility}" %></td>
    </tr>
  </table>
</div>
