<div class='no-padding sidebar'>
  <aside class='large-2 medium-12 small-12 columns'>
    <ul class='side-nav'>
      <li class='active'><%= link_to root_path do %><%= t 'layout.all_builds' %><% end %></li>
      <li class='active'><%= link_to cpus_path do %><%= t 'layout.processors' %><% end %></li>
      <li class='active'><%= link_to cpu_coolers_path do %><%= t 'layout.cpu_coolers' %><% end %></li>
      <li class='active'><%= link_to memory_cards_path do %><%= t 'layout.memory_cards' %><% end %></li>
      <li class='active'><%= link_to video_cards_path do %><%= t 'layout.video_cards' %><% end %></li>
      <li class='active'><%= link_to motherboards_path do %><%= t 'layout.motherboards' %><% end %></li>
      <li class='active'><%= link_to hard_drives_path do %><%= t 'layout.storages' %><% end %></li>
      <li class='active'><%= link_to network_cards_path do %><%= t 'layout.network_cards' %><% end %></li>
      <li class='active'><%= link_to computer_cases_path do %><%= t 'layout.computer_cases' %><% end %></li>
      <li class='active'><%= link_to power_supplies_path do %><%= t 'layout.power_supplies' %><% end %></li>
      <li class='active'><%= link_to tutorials_path do %><%= t 'layout.tutorials' %><% end %></li>
    </ul>
  </aside>
</div>
