
<nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
            <h1><%= link_to root_path(locale) do %><%=t "layout.title" %><% end %></h1>
        </li>
      </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="active"><%= link_to "English", locale: "en" %></li>
      <li class="active"><%= link_to "中文", locale: "zh-CN" %></li>
      <%- if current_user -%>
        <li class="active"><%= link_to user_path(current_user.id) do %><%=t "layout.my_build_link" %><% end %></li>
        <li class="active"><%= link_to edit_user_registration_path do %><%=t "layout.edit_profile" %><% end %></li>
        <li class="active"><%= link_to destroy_user_session_path, method: :delete do %><%=t "layout.sign_out" %><% end %></li>
      <%- else -%>
        <li class="active"><%= link_to new_user_registration_path do %><%=t "layout.sign_up" %> <% end %></li>
        <li class="active"><%= link_to new_user_session_path do %><%=t "layout.sign_in" %> <% end %></li>
      <%- end -%>
    </ul>
  </section>

</nav>
