
<nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">PCHobbyist</a></h1>
        </li>
      </ul>
  <section class="top-bar-section">
    <ul class="right">
      <%- if current_user -%>
        <li class="active"><%= link_to 'My Builds', user_path(current_user.id) %></li>
        <li class="active"><%= link_to 'Edit Profile', edit_user_registration_path, method: :get %></li>
        <li class="active"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <%- else -%>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
      <%- end -%>
    </ul>
  </section>

</nav>

